<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="LIBRARY_MANAGMENT_SOFTWARE.Properties.Settings.hfs_lib_manConnectionString" connectionString="Data Source=DESKTOP-IE4TLR6\sqlexpress;Initial Catalog=hfs_lib_man;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="Hfs_Lib_ManEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-IE4TLR6\sqlexpress;Initial Catalog=hfs_lib_man;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>